{% extends "base.html" %}

{% block unidades %}

<h2>Unidades</h2>
<a href="create"><button type="button">Nova unidade</button></a>

{% if messages %}
<div class="messages">
    {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

{% for unidade in unidades %}
<ul style="font-size: 18px">
    <li>
        <div>
            {{ unidade.sigla }} ({{ unidade.digitos }} dígitos)
                ( <a href="update/{{ unidade.id }}">Editar</a>
                / <a href="delete/{{ unidade.id }}">Excluir</a> )
        </div>
    </li>
</ul>
{% endfor %}

{% endblock %}