{% extends "base.html" %}

{% block usuarios %}

<h2>Usuários</h2>
<a href="create"><button type="button">Novo usuário</button></a>

{% if messages %}
<div class="messages">
    {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

{% for usuario in usuarios %}
<ul style="font-size: 18px">
    <li>
        <div>
            {{ usuario.nome }}
                ( <a href="update/{{ usuario.id }}">Editar</a>
                / <a href="delete/{{ usuario.id }}">Excluir</a> )
        </div>
    </li>
</ul>
{% endfor %}

{% endblock %}