{% extends "base.html" %}

{% block metricas %}

<h2>Métricas</h2>
<a href="create"><button type="button">Nova métrica</button></a>

{% if messages %}
<div class="messages">
    {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<ul style="font-size: 18px">
{% for metrica in metricas %}
    <li>
        <div>
            {{ metrica.nome }} ({{ metrica.unidade }})
                ( <a href="update/{{ metrica.id }}">Editar</a>
                / <a href="delete/{{ metrica.id }}">Excluir</a> )
        </div>
    </li>
{% endfor %}
</ul>


{% endblock %}