<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SistemaFit</title>
</head>
<body>
    <a href="/acompanhamentos">Acompanhamentos</a>
    <a href="/usuarios">Usuários</a>
    <a href="/metricas">Métricas</a>
    <a href="/unidades">Unidades</a>
    
    {% block acompanhamentos %} {% endblock %}
    {% block metricas %} {% endblock %}
    {% block unidades %} {% endblock %}
    {% block usuarios %} {% endblock %}
    {% block usuario_create %} {% endblock %}
</body>
</html>